* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Raleway", sans-serif;
}

.header-top {
  background: #25262b;
  padding: 10px;
}
.header-top-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    color: #fff;
    margin-bottom: 0;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.banner {
  width: 100%;
}

.header-main {
  padding: 20px;
}
.header-main-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-auth {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  .header-auth-icon {
    background: url("../img/auth.png") center center / contain no-repeat;
    padding: 10px;
    margin-right: 10px;
  }
}

.header-search {
  position: relative;
  margin: 0 20px;
  &::before {
    content: "";
    position: absolute;
    background: url("../img/search.png") center center / contain no-repeat;
    padding: 10px;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  input {
    padding: 15px;
    width: 300px;
    background: #f3f4f9;
    border: 1px solid rgba(34, 34, 34, 0.2);
  }
}

.header-logo {
  img {
    width: auto;
  }
}

.header-phone {
  p {
    position: relative;
    padding-left: 25px;
    font-weight: bold;
    &::before {
      content: "";
      position: absolute;
      background: url("../img/phone.png") center center / contain no-repeat;
      padding: 10px;
      left: 0;
    }
  }
}

.header-right {
  display: flex;
  .header-like {
    margin-right: 10px;
  }
}

.header-links {
  background: #f3f4f9;
  padding: 20px 0;
  .header-links-flex {
    a {
      color: #000;
      text-decoration: none;
      margin-right: 10px;
    }
  }
}

.title {
  text-align: center;
  font-size: 48px;
  margin: 20px 0;
  position: relative;
  padding-top: 70px;
  z-index: 1;
  text-transform: uppercase;
  .title-shadow {
    z-index: -1;
    position: absolute;
    text-transform: uppercase;
    font-size: 100px;
    color: #f3f4f9;
    left: 0;
    font-weight: 900;
    right: 0;
    top: 0;
  }
}

.catalog-items {
  .catalog-item {
    padding: 10px;
    box-sizing: border-box;
    transition: 0.2s;
    margin: 20px 0;
    &:hover {
      background: #fff;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    }
    img {
      width: 100%;
    }
    .catalog-item-sizes {
      margin: 20px 0;
    }
  }
}

.catalog-item-description {
  border-top: 1px solid rgba(34, 34, 34, 0.2);
  border-bottom: 1px solid rgba(34, 34, 34, 0.2);
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.w-50 {
  width: 50%;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
  span {
    font-size: 16px;
    font-weight: 500;
  }
}
.w-100 {
  width: 100%;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
  span {
    font-size: 16px;
    font-weight: 500;
  }
}

.catalog-item-price {
  margin: 20px 0;
  display: flex;
  .productsum {
    font-weight: 600;
    color: #e82634;
    font-size: 18px;
    margin-right: 10px;
  }
  .oldproductsum {
    text-decoration: line-through;
  }
}

.catalog-item-buttons {
  margin: 20px 0;
  display: flex;
  .add-to-cart {
    border: 2px solid #000;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s;
    margin-right: 15px;
    &:hover {
      background: #ffe700;
      border-color: transparent;
    }
  }
  .button-like {
    background: url("../img/like.png") center center / contain no-repeat;
    padding: 14px;
    cursor: pointer;
  }
}

.questions {
  margin: 50px 0;
}

.questions-image {
  padding: 0;

  object-fit: cover;
}
.questions-form {
  background: #f3f4f9;
  display: flex;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  flex-wrap: wrap;
  .questions-form-title {
    font-size: 3rem;
    font-weight: 300;
  }
  p {
    font-size: 24px;
    font-weight: 300;
  }
  input,
  textarea {
    border-radius: 0;
    padding: 10px;
  }
  button {
    background: #25262b;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
  }
}

footer {
  padding: 30px 0;
  .container {
    padding-top: 50px;
    border-top: 1px solid rgba(153, 153, 153, 0.5);
  }
}
.footer-center {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
  img {
    margin-bottom: 20px;
  }
}

.footer-phone {
  p {
    position: relative;
    padding-left: 25px;
    font-weight: bold;
    &::before {
      content: "";
      position: absolute;
      background: url("../img/phone.png") center center / contain no-repeat;
      padding: 10px;
      left: 0;
    }
  }
}
.footer-email {
  p {
    position: relative;
    padding-left: 25px;
    font-weight: bold;
    &::before {
      content: "";
      position: absolute;
      background: url("../img/mail.png") center center / contain no-repeat;
      padding: 10px;
      left: 0;
    }
  }
}

.footer-links {
  a {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #25262b;
    margin: 10px 0;
  }
}

.footer-form {
  background: #f3f4f9;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  flex-wrap: wrap;
  .footer-form-title {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
  }
  p {
    font-size: 24px;
    font-weight: 300;
  }
  form {
    width: 100%;
  }
  input,
  textarea {
    border-radius: 0;
    padding: 10px;
    width: 100%;
  }
  button {
    background: #25262b;
    border-radius: 0;
    color: #fff;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
  }
}
